
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color:  #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #ffd480;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* Custom CSS */

.about {
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 2rem;
    background: transparent;
}

.about-img img {
    width: 30vw;
}

  button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--main-color);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 1rem var(--main-color);
    transition: .5s ease;

  }
  
  button:hover {
   box-shadow: none;
  }

  .bx.bx-download {
    color: var(--bg-color); /* Your desired color */
  }
  
  .read-more-content {
    display: none;
  }
  
.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h3 {
    font-size: 2.6rem;
    margin: auto;
}

.about-content p {
    font-size: 2rem;
    margin: 2rem 0 3rem;
}

.about {
    flex-direction: column-reverse;
}
.about img {
    width: 70vw;
    margin-top: 4rem;
}
.about-img img {
    width: 90vw;
}